:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --btn-color: #ffffff;
  --second-btn-color: #212121;
  --dark-background-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ----------HEADER-------*/

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-color {
  color: var(--accent-color);
}
.header-item-studio {
  color: var(--accent-color);
  font-weight: 500;
}
.header-item-studio:hover,
.header-item-studio:focus {
  color: var(--accent-color);
}
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.header-mail:focus,
.header-mail:hover,
.header-tel:focus,
.header-tel:hover {
  color: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* ----------HERO-------*/
.hero-section {
  background-color: var(--dark-background-color);
}
.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.hero-section-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  cursor: pointer;
  border: none; bo
}
.hero-section-btn:hover,
.hero-section-btn:focus {
  color: var(--btn-color);
  background-color: var(--accent-color);
}
/*--------FEATURES-------*/
.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}
/* --------ABOUT US------- */
.about-us-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--second-title-color);
}

/*-------OUR COMMAND-------*/
.our-command {
  background-color: #f5f4fa;
}

.our-command-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--second-title-color);
}
.our-command-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-title-color);
}
.our-command-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-text-color);
}

/* --------FOOTER------- */
.footer {
  background-color: var(--dark-background-color);
}

.footer-mail:focus,
.footer-mail:hover,
.footer-tel:focus,
.footer-tel:hover {
  color: var(--accent-color);
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}
.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}
.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
}
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
}
.footer-list:focus,
.footer-list:hover {
  color: var(--accent-color);
}

/*-------HEADER PORTFOLIO------*/

.header-item-portfolio {
  color: var(--accent-color);
}
.header-item-portfolio:hover {
  color: var(--accent-color);
}

/*--------SAMPLES-------*/

.samples-btn-all {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.samples-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  cursor: pointer;
}
.samples-btn:focus,
.samples-btn:hover {
  color: var(--btn-color); background-color: var(--accent-color);
}
/*----------SAMPLES IMAGES-------*/

.samples-images-link:hover,
.samples-images-link:focus {
  color: var(--accent-color);
}
.samples-images-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.samples-images-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}
